<div class="relative min-h-screen">
  <!-- Blobs Container -->
  <div class="fixed inset-0 -z-10 overflow-hidden">
    <!-- Base gradient  -->
    <div
      class="absolute inset-0 bg-linear-to-r from-white via-blue-200 to-sky-200"
    >
    </div>

    <!-- Animated blobs -->
    <div
      class="top-0 left-0 blob bg-blue-500/30 -translate-x-1/2 -translate-y-1/2"
    >
    </div>
    <div
      class="top-1/4 right-0 blob bg-sky-400/35 animation-delay-2000 translate-x-1/2"
    >
    </div>
    <div
      class="bottom-0 left-1/4 blob bg-blue-600/25 animation-delay-4000 translate-y-1/2"
    >
    </div>
    <div
      class="top-1/2 left-1/2 blob bg-cyan-400/30 animation-delay-6000 -translate-x-1/2 -translate-y-1/2"
    >
    </div>
    <div class="bottom-1/4 right-1/4 blob bg-blue-400/35 animation-delay-8000">
    </div>
    <div class="top-[60%] left-[10%] blob bg-sky-500/30 animation-delay-10000">
    </div>
    <div class="top-[80%] left-[4%] blob bg-sky-300/30 animation-delay-12000">
    </div>
    <div
      class="top-[30%] left-[0%] w-85 h-85 blob bg-sky-300/70 animation-delay-2000"
    >
    </div>

    <!-- Overlay for depth -->
    <div
      class="absolute inset-0 bg-linear-to-t from-white/20 via-transparent to-blue-300/20"
    >
    </div>
  </div>

  <!-- Content  -->
  <slot />
</div>
