<footer class="relative px-6 md:px-10">
  <div class="p-8 md:p-12">
    {/* Divider */}
    <div
      class="my-8 h-px bg-linear-to-r from-transparent via-white/50 to-transparent"
    >
    </div>

    {/* Copyright */}
    <div class="text-center text-sm text-slate-600">
      <p>© {new Date().getFullYear()} Cristóbal De Jesús Coronel Chambé.</p>
    </div>
  </div>
</footer>
